# Visual Studio 2015/2017 cache/options directory
.vs/

# Ignore CMake/IntelliSense information/configuration used specifically for Visual Studio 
CMakeSettings.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build*
/cmake-build-*
.idea/

__pycache__/
*.py[cod]

bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
/test/unittests/syrecOptimizerComponentsTests/testdata/other.json
